.latest_product {
  width: 90%;
  min-width: 150px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--grey-border);
  transition: .3s linear;
  margin: 0 auto;
  background-color: white;
  @media (max-width: 450px){
    width: 100%;
  }
  @media (max-width: 650px){
    flex-grow: 1;
  }
  &__image {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid var(--grey-border);
    overflow: hidden;
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: .1s linear;
    }
  }
  &__info {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--grey-border);
    padding-bottom: 0.5rem;
    h2 {
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
      color: var(--darkGrey-font);
      min-height: 20px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: var(--darkGrey-font);
      min-height: 18px;
    }
    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      p {
        font-size: 12px;
      }
    }
  }
  .changeCartStatus{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    h1{
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      span{
        font-size: 12px;
        font-weight: 400;
      }
    }
    button{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 24px;
      font-weight: 700;
      &:first-child{
        background-color: red;
      }
      &:last-child{
        background-color: green;
      }
    }
  }
  button {
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #249b3e;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 0.5rem;
    transition: 0.1s linear;
    &:hover {
      background-color: var(--grey-border);
    }
  }
}
