* {
  margin: 0;
  padding: 0;
}

:root{
  --white: #FFF;
  --grey-border: #EDEDED;
  --grey-font: #666;
  --darkGrey-font: #222;
  --black-font: #000;
  --blue: #008ECC;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.slick-arrow{
  width: 75px !important;
  height: 75px !important;
  border-radius: 50% !important;
  border: 8px solid var(--white) !important;
  background-color: #F3F9FB !important;
  font-size: 28px !important;
  color: var(--blue) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  cursor: pointer !important;
  z-index: 9;
}
.slick-arrow:before{
  display: none !important;
}
.slick-next{
  right: -65px !important;
}
.slick-prev{
  left: -65px !important;
}