* {
  margin: 0;
  padding: 0;
}

:root{
  --white: #FFF;
  --grey-border: #EDEDED;
  --grey-font: #666;
  --darkGrey-font: #222;
  --black-font: #000;
  --blue: #008ECC;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.slick-arrow{
  width: 50px !important;
  height: 50px !important;
  color: var(--blue) !important;
  border-radius: 50%;
  z-index: 9;
  background-color: transparent;
}
.slick-next{
  right: -10px !important;
}
.slick-prev{
  left: -10px !important;
}