@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

:root{
  --white: #FFF;
  --grey-border: #EDEDED;
  --grey-font: #666;
  --darkGrey-font: #222;
  --black-font: #000;
  --blue: #008ECC;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.slick-arrow{
  width: 65px !important;
  height: 65px !important;
  border-radius: 50% !important;
  border: 7px solid var(--white) !important;
  background-color: #F3F9FB !important;
  font-size: 28px !important;
  color: var(--blue) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  cursor: pointer !important;
  z-index: 9;
}
.slick-arrow:before{
  display: none !important;
}
.slick-next{
  right: -60px !important;
}
.slick-prev{
  left: -60px !important;
}
@media (max-width: 550px){
  .slick-arrow{
    width: 50px;
  }
  .slick-next{
    right: -50px !important;
  }
  .slick-prev{
    left: -50px !important;
  }
}
.ant-select-selector, .ant-pagination-options{
  display: none !important;
}
.ant-pagination-item{
  border: 2px solid var(--blue) !important;
  >a{
    color: var(--blue) !important;
    font-weight: 700;
  }
}
.ant-pagination-item-active{
  background-color: var(--blue) !important;
  >a{
    color: white !important;
  }
}
.ant-pagination-item-link span svg{
  fill: var(--blue) !important;
}
.MuiPaginationItem-root{
  color: var(--blue) !important;
}