.login {
  width: 100%;
  min-height: 100vh;
  background-color: #008ecc;
  &__wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      position: relative;
      width: 35%;
      @media (max-width: 1100px) {
        width: 50%;
      }
      @media (max-width: 850px) {
        width: 75%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
      min-width: 250px;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      background-color: white;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.71);
      -webkit-box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.71);
      -moz-box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.71);
      gap: 2rem;
      overflow: hidden;
      span {
        width: 100%;
        height: 500px;
        position: absolute;
        top: -25%;
        left: -50%;
        background-color: #008ecc;
        border-radius: 25px;
        transform: rotate(45deg);
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        color: #008ecc;
        mix-blend-mode: multiply;
      }
      div {
        width: 100%;
        position: relative;
        height: 35px;
        mix-blend-mode: multiply;
        &:last-child {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: start;
          align-items: start;
          flex-direction: column;
          gap: 0.5rem;
          a {
            color: #008ecc;
          }
        }
        label {
          position: absolute;
          top: 0%;
          transform: translateY(-50%);
          left: 10px;
          background-color: white;
          color: #008ecc;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 14px;
        }
        input {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          border: none;
          outline: none;
          background-color: transparent;
          border: 1px solid #008ecc;
          padding-left: 0.5rem;
          color: #008ecc;
        }
        p{
          color: var(--blue);
          position: absolute;
          top: 57.5%;
          right: 10px;
          font-size: 24px;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: auto;
        padding: 0.6em 1em;
        background-color: #008ecc;
        border: none;
        outline: none;
        color: white;
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
        &:disabled{
          background-color: #00567b !important;
          cursor: not-allowed !important;
        }
        &:hover {
          background-color: #0075a7;
        }
      }
    }
  }
}
