.adminSidebar{
    position: fixed;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #212844;
    &.collapsed{
        width: 75px;
    }
    &__logo{
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__menu{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: .5rem;
        ul{
            width: 100%;
            li{
                width: calc(250px - 1rem);
                background-color: transparent;
                list-style: none;
                padding: .5rem;
                font-family: 'Montserrat';
                font-size: 18px;
                font-weight: 700;
                transition: .1s linear;
                a{
                    width: 100%;
                    height: 50px;
                border-radius: 7.5px;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: white;
                    span{
                        width: 40px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 28px;
                        color: var(--blue);
                        margin-right: 1.2rem;
                    }
                    &:hover{
                        background-color: white;
                        color: #212844;
                    }
                }
            }
        }
    }
}